<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <crisis>
        <max_cpu>1</max_cpu>
        <max_ram>7</max_ram>
        <max_disk>8</max_disk>
    </crisis>
    <email>
        <address>rr.ricci@gmail.com</address>
        <template>mail_template.xml</template>
        <subject>Mami a detecte une situation de crise</subject>
    </email>
</configuration>
