<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <crisis>
        <max_cpu>5</max_cpu>
        <max_ram>75</max_ram>
        <max_swap>80</max_swap>
        <max_disk>80</max_disk>
    </crisis>
    <email>
        <address>editer_adresse_mail</address>
        <template_html>interface/mail_template.html</template_html>
        <template_txt>interface/mail_template.txt</template_txt>
        <subject>Mami vient de detecter une crise</subject>
    </email>
    <db>
        <max_rows>10</max_rows>
    </db>
</configuration>
